@using TestCloud.Models;

@{
    var userLocalizer = ViewBag.Localizer as Dictionary<string, string>;
}

<div id="overlayer">
    <div class="spinner"></div>
</div>

<div class="">
    <div class="intro-section">
        <div class="container" id="home-section">
            <div class="row align-items-center">
                <div class="col-lg-5 mr-auto intro-text" data-aos="fade-up">
                    <div class="slide-text">
                        <h1 class="h1-title mb-5">@userLocalizer.GetTranslationByKey("tituloinicio")</h1>
                        <p>@userLocalizer.GetTranslationByKey("descripcioninicio")</p>
                        <div class="text-center">
                            <a href="/Home/Portfolio" class="btn btn-lore">@userLocalizer.GetTranslationByKey("descripcionbtninicio")</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ml-auto">
                    <div class="testing">
                        <img src="~/Content/Images/lore.JPG" alt="Image" class="img-fluid intro-img">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="linea-divisoria post-intro"></div>

    <div class="container" id="services-section">
        <div class="row">
            <div class="offset-md-3 col-md-6 offset-xl-0 col-xl-12 mb-3">
                <h1 class="h1-title">@userLocalizer.GetTranslationByKey("servicios")</h1>
            </div>

            <div class="col-xl-6 col-md-12 mb-3">
                <div class="service" data-aos="flip-left">
                    <span class="custom-icon-wrap"><span class="flaticon-glasses"></span></span>
                    <h3>@userLocalizer.GetTranslationByKey("tituloservicio1")</h3>
                    <p>@userLocalizer.GetTranslationByKey("descripcionservicio1")</p>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 mb-3">
                <div class="service" data-aos="flip-left" data-aos-delay="100">
                    <span class="custom-icon-wrap"><span class="flaticon-monitor"></span></span>
                    <h3>@userLocalizer.GetTranslationByKey("tituloservicio2")</h3>
                    <p>@userLocalizer.GetTranslationByKey("descripcionservicio2")</p>
                </div>
            </div>

            <div class="col-md-12 mt-3">
                <div class="offset-md-4 col-md-4 offset-md-4">
                    <button href="#" class="btn btn-lore btn-block">@userLocalizer.GetTranslationByKey("btncallme")</button>
                </div>
            </div>
        </div>
    </div>


    <div class="linea-divisoria"></div>

    @Html.Partial("~/Views/Home/Partials/_portfolio.cshtml")

    <div class="linea-divisoria"></div>

    @Html.Partial("~/Views/Home/Partials/_contactme.cshtml")
</div>
